/* ---------------------------------
                Fonts 
------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* --------------------------------- 
                Base Style 
------------------------------------ */

body {
  font-family: "Poppins", sans-serif;
}

/* main {
  display: flex;
  justify-content: center;
} */
.banner-flex-container {
  display: flex;
  justify-content: center;
}
.content-flex-container {
  display: flex;
  justify-content: center;
}
/* --------------------------------- 
            Banner Style Start
------------------------------------ */
.banner-container {
  width: 1321px;
  margin-top: 50px;
  background-color: #161616;
  border-radius: 30px;
}

.banner-items {
  display: flex;
  /* flex-direction: column; */
}
.banner-msg {
  width: 50%;
  /* border: 1px solid white; */
  padding: 10px;
  margin: 0;
  margin-left: -14px;
}

.banner-title {
  margin: 0;
  margin-top: 100px;
  margin-left: 50px;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
}
.banner-text {
  margin: 0;
  margin-top: 50px;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.watch-now-btn {
  margin: 0;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
  width: 187px;
  height: 56px;
  background-color: #dd0000;
  border: none;
  padding: 10px 24px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  transition: width 2s;
  transition-timing-function: linear;
}
.watch-now-btn:hover {
  width: 300px;
}

.banner-img {
  width: 50%;
  /* border: 1px solid white; */
  padding: 10px;
  margin: 0 20px 0 20px;
}
.banner-img img {
  width: 100%;
  height: 613px;
  position: relative;
  top: 17px;
}

/* --------------------------------- 
            Banner Style End
------------------------------------ */

/* -----------------------------------------------------------
                  Content / Article Style Start
-------------------------------------------------------------- */
.content-container {
  width: 1321px;
  margin-top: 130px;
  /* background-color: #161616;
  border-radius: 30px; */
}

.content-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 24px;
  grid-template-areas:
    "news one two three"
    ". four five six"
    ". seven eight nine";
}
.item-news {
  grid-area: news;
  width: 312px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #161616;
  border-radius: 10px;
  color: white;
}
.match-btn {
  width: 252px;
  height: 64px;
  margin: 30px 30px 0 30px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #161616;
}
.group-btn {
  width: 252px;
  height: 64px;
  margin: 30px 30px 0 30px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #161616;
}
.blog-btn {
  width: 252px;
  height: 64px;
  margin: 30px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #161616;
}

.match-btn:hover {
  background-color: #dd0000;
  color: white;
}
.group-btn:hover {
  background-color: #dd0000;
  color: white;
}
.blog-btn:hover {
  background-color: #dd0000;
  color: white;
}
.item-1 {
  grid-area: one;
}
.item-2 {
  grid-area: two;
}
.item-3 {
  grid-area: three;
}
.item-4 {
  grid-area: four;
}
.item-5 {
  grid-area: five;
}
.item-6 {
  grid-area: six;
}
.item-7 {
  grid-area: seven;
}
.item-8 {
  grid-area: eight;
}
.item-9 {
  grid-area: nine;
}
/* .card-img {
  padding: 10px;
  border: 1px solid greenyellow;
} */
.card-img img {
  width: 312px;
  height: 175px;
  border-radius: 10px 10px 0px 0px;
}
.card-btn {
  padding: 10px 20px;
}
.trans-btn {
  width: 100px;
  height: 32px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: #161616;
  /* border: none; */
  border: 0.5px solid #161616;
}
.card-title h3 {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
  color: #161616;
  padding: 0 0 0 20px;
}
.card-fav {
  margin: 0;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 0 20px;
}
.card-duration p {
  margin-right: 30px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(22, 22, 22, 0.7);
}
.card-msg p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(22, 22, 22, 0.7);
}

.view-all {
  visibility: hidden;
  /* display: none; */
}

.see-more-btn {
  width: 131px;
  height: 47px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #dd0000;
  color: white;
  border-radius: 5px;
}

/* -----------------------------------------------------------
                  Content / Article Style End
-------------------------------------------------------------- */

/* --------------------------------- 
            Media Query
------------------------------------ */

/* --------------------------------- 
            Mobile View
------------------------------------ */

@media only screen and (max-width: 688px) {
  .banner-container {
    width: 100%;
    background-color: black;
  }
  .banner-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .banner-msg {
    width: 100%;
    /* border: 1px solid white; */
  }
  .banner-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .banner-img {
    width: 100%;
    /* border: 1px solid white; */
    margin-left: 5px;
  }
  .banner-img img {
    width: 100%;
    height: 613px;
    position: relative;
    top: 58px;
  }

  .content-container {
    width: 100%;
  }
  .content-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-left: 10px;
    grid-column-gap: 24px;
    grid-template-areas:
      "news"
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine";
  }
  .item-news {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    justify-content: space-between;
  }
}

/* --------------------------------- 
            Tablet View
------------------------------------ */

@media only screen and (min-width: 689px) and (max-width: 1262px) {
  .banner-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .banner-img {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
  }

  .content-container {
    width: 100%;
  }
  .content-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 24px;
    grid-template-areas:
      "news news"
      "one two"
      "three four"
      "five six"
      "seven eight"
      "nine .";
  }
  .item-news {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: flex-start;
    justify-content: space-between;
  }

  .link-btn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
